##  Statistics Assignment - 1

### DataSet Overview

#### This dataset comprises details of the characteristics of iris flowers from three different species: Setosa, versicolor, and virginica.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"C:\Users\HP PC\OneDrive\Desktop\Iris.csv")

In [3]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
data.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Id,150.0,NaN,NaN,NaN,75.5,43.445368,1.0,38.25,75.5,112.75,150.0
SepalLengthCm,150.0,NaN,NaN,NaN,5.843333,0.828066,4.3,5.1,5.8,6.4,7.9
SepalWidthCm,150.0,NaN,NaN,NaN,3.054,0.433594,2.0,2.8,3.0,3.3,4.4
PetalLengthCm,150.0,NaN,NaN,NaN,3.758667,1.76442,1.0,1.6,4.35,5.1,6.9
PetalWidthCm,150.0,NaN,NaN,NaN,1.198667,0.763161,0.1,0.3,1.3,1.8,2.5
Species,150,3,Iris-setosa,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Code for Statistical Measures: 
#### Write a class which takes the data set as argument and write methods for the following statistical measures without using built-in functions:of Mean Deviation

* Arithmetic Mean
* Geometric Mean
* Harmonic Mean
* Mode
* Median
* Describe
* Variance 
* standard deviation
* max 
* min 
* range 
* IQR 
* Quartiles 
* Co-efficient of Range
* Co-efficient of Variation
* Co-efficient of Standard Deviation
* Co-efficient of Quartile Deviation
* Co-efficient of Mean Deviation

In [6]:
class statistics:
    def __init__(self, data):
        self.data = data

    def arithmetic_mean(self):
        total_sum = np.sum(self.data)
        return total_sum / len(self.data)

    def geometric_mean(self):
        total_product = np.prod(self.data)
        return total_product ** (1/len(self.data))

    def harmonic_mean(self):
        total_sum = 0
        for value in self.data:
            total_sum += 1 / value
        return len(self.data) / total_sum

    def mode(self):
        values, counts = np.unique(self.data, return_counts=True)
        return values[counts == np.max(counts)]

    def median(self):
        sorted_data = sorted(self.data)
        n = len(sorted_data)
        if n%2==0:
            return(sorted_data[n//2]+sorted_data[n//2-1])/2
        else:
            median=sorted_data[n//2]
        return median

    def describe_data(self):
        n = len(self.data)
        mean = sum(self.data) / n
        variance = sum((x - mean) ** 2 for x in self.data) / (n - 1)
        std_deviation = variance ** 0.5
        return n, mean, variance, std_deviation, min(self.data), max(self.data)

    def variance(self):
        mean = self.arithmetic_mean()
        variance = sum((self.data - mean) ** 2) / len(self.data)
        return variance

    def standard_deviation(self):
        return self.variance() ** 0.5

    def max(self):
        return max(self.data)
    
    def min(self):
        return min(self.data)

    def range(self):
        return self.max() - self.min()

    def iqr(self):
        sorted_data = sorted(self.data)
        n = len(sorted_data)
        q1 = sorted_data[n // 4]
        q3 = sorted_data[(3 * n) // 4]
        return q3 - q1

    def quartiles(self):
        sorted_data = sorted(self.data)
        n = len(sorted_data)
        q1 = sorted_data[n // 4]
        q2 = sorted_data[n // 2]
        q3 = sorted_data[(3 * n) // 4]
        return q1, q2, q3

    def coefficient_of_range(self):
        return self.range() / self.iqr()
    
    def coefficient_of_variation(self):
        return (self.standard_deviation() / self.arithmetic_mean()) * 100
    
    def coefficient_of_standard_deviation(self):
        return self.standard_deviation() / self.arithmetic_mean()
    
    def coefficient_of_quartile_deviation(self):
        return self.iqr() / self.arithmetic_mean()

In [7]:
df = pd.read_csv(r"C:\Users\HP PC\OneDrive\Desktop\Iris.csv")

In [8]:
col_name = df['SepalLengthCm']
stats = statistics(col_name)

In [9]:
print("Arithmetic Mean:", stats.arithmetic_mean())
print("Geometric Mean:", stats.geometric_mean())
print("Harmonic Mean:", stats.harmonic_mean())
print("Mode:", stats.mode())
print("Median:", stats.median())
print("Describe:", stats.describe_data())
print("Variance:", stats.variance())
print("Standard Deviation:", stats.standard_deviation())
print("Max:", stats.max())
print("Min:", stats.min())
print("Range:", stats.range())
print("IQR:", stats.iqr())
print("Quartiles:", stats.quartiles())
print("Coefficient of Range:", stats.coefficient_of_range())
print("Coefficient of Variation:", stats.coefficient_of_variation())
print("Coefficient of Standard Deviation:", stats.coefficient_of_standard_deviation())
print("Coefficient of Quartile Deviation:", stats.coefficient_of_quartile_deviation())

Arithmetic Mean: 5.843333333333334
Geometric Mean: 5.785720390427729
Harmonic Mean: 5.728905057850834
Mode: [5.]
Median: 5.8
Describe: (150, 5.843333333333335, 0.6856935123042505, 0.8280661279778629, 4.3, 7.9)
Variance: 0.6811222222222221
Standard Deviation: 0.8253012917851408
Max: 7.9
Min: 4.3
Range: 3.6000000000000005
IQR: 1.3000000000000007
Quartiles: (5.1, 5.8, 6.4)
Coefficient of Range: 2.7692307692307683
Coefficient of Variation: 14.12380989934639
Coefficient of Standard Deviation: 0.1412380989934639
Coefficient of Quartile Deviation: 0.22247575584711934