In [1]:
r = int(input('enter row value : '))
def pattern1():
    for i in range(r):
        for j in range(r-i-1):
            print(' ',end = ' ')
        for k in range(2*i+1):
            print(chr(42), end = ' ')
        print( )
pattern1()

enter row value : 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

#### pyramid pattern using numners:

In [2]:
r = int(input('enter row values : '))
def pattern2():
    for i in range(r):
        for j in range(r-i-1):
            print(' ',end = ' ')
        for k in range(2*i+1):
            print(int(1+k), end = ' ')
        print( )
pattern2()

enter row values : 5
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

#### pyramid pattern using alphabets:

In [3]:
r = int(input('enter row values : '))
def pattern3():
    for i in range(r):
        for j in range(r-i-1):
            print(' ',end = ' ')
        for k in range(2*i+1):
            print(chr(65+k), end = ' ')
        print( )
pattern3()

enter row values : 5
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

#### inverted pyramid pattern using star :

In [4]:
r = int(input('enter row values : '))
def pattern4():
    for i in range(r-0):
        for j in range(i):
            print(' ',end = ' ')
        for k in range(2*(r-i)-1):
            print(chr(42), end = ' ')
        print( )
pattern4()

enter row values : 5
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

#### inverted pyramid pattern using alphabets :

In [5]:
r = int(input('enter row values : '))
def pattern5():
    for i in range(r-0):
        for j in range(i):
            print(' ',end = ' ')
        for k in range(2*(r-i)-1):
            print(chr(65+k), end = ' ')
        print( )
pattern5()

enter row values : 5
A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A

#### inverted pyramid pattern using numbers :

In [6]:
r = int(input('enter row values : '))
def pattern6():
    for i in range(r-0):
        for j in range(i):
            print(' ',end = ' ')
        for k in range(2*(r-i)-1):
            print(int(1+k), end = ' ')
        print( )
pattern6()

enter row values : 5
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

#### hour-glass pattern using star:

In [7]:
r = int(input('enter row values : '))
def pattern7():
    for i in range(r-1):
        for j in range(i):
            print(' ',end = ' ')
        for k in range(2*(r-i)-1):
            print(chr(42), end = ' ')
        print( )
    for i in range(r):
        for j in range(r-i-1):
            print(' ',end = ' ')
        for k in range(2*i+1):
            print(chr(42), end = ' ')
        print( )
pattern7()

enter row values : 5
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [21]:
ord('*')

42

#### hour-glass pattern using alphabets:

In [8]:
r = int(input('enter row values : '))
def pattern8():
    for i in range(r-1):
        for j in range(i):
            print(' ',end = ' ')
        for k in range(2*(r-i)-1):
            print(chr(65+k), end = ' ')
        print( )
    for i in range(r):
        for j in range(r-i-1):
            print(' ',end = ' ')
        for k in range(2*i+1):
            print(chr(65+k), end = ' ')
        print( )
pattern8()

enter row values : 5
A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

#### hour-glass pattern using numbers:

In [9]:
r = int(input('enter row values : '))
def pattern9():
    for i in range(r-1):
        for j in range(i):
            print(' ',end = ' ')
        for k in range(2*(r-i)-1):
            print(int(1+k), end = ' ')
        print( )
    for i in range(r):
        for j in range(r-i-1):
            print(' ',end = ' ')
        for k in range(2*i+1):
            print(int(1+k), end = ' ')
        print( )
pattern9()

enter row values : 5
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

#### diamond shape pattern using star :

In [10]:
r = int(input('enter row value : '))
def pattern10():
    for i in range(r):
        for j in range(r-i-1):
            print(' ', end = ' ')
        for j in range(2*i+1):
            print(chr(42), end = ' ')
        print( )
    for i in range(r-1):
        for j in range(i+1):
            print(' ',end = ' ')
        for j in range(2*(r-i-1)-1):
            print(chr(42), end = ' ')
        print( )
pattern10()

enter row value : 10
                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
      * * * * * * * * * * * * *
        * * * * * * * * * * *
          * * * * * * * * *
            * * * * * * *
              * * * * *
                * * *
                  *

#### diamond shape pattern using alphabets :

In [11]:
r = int(input('enter row value : '))
def pattern11():
    for i in range(r):
        for j in range(r-i-1):
            print(' ', end = ' ')
        for j in range(2*i+1):
            print(chr(65+j), end = ' ')
        print( )
    for i in range(r-1):
        for j in range(i+1):
            print(' ',end = ' ')
        for j in range(2*(r-i-1)-1):
            print(chr(65+j), end = ' ')
        print( )
pattern11()

enter row value : 5
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A

#### diamond shape pattern using numbers :

In [12]:
r = int(input('enter row value : '))
def pattern12():
    for i in range(r):
        for j in range(r-i-1):
            print(' ', end = ' ')
        for j in range(2*i+1):
            print(int(1+j), end = ' ')
        print( )
    for i in range(r-1):
        for j in range(i+1):
            print(' ',end = ' ')
        for j in range(2*(r-i-1)-1):
            print(int(1+j), end = ' ')
        print( )
pattern12()

enter row value : 5
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

#### rhombus shape pattern using stars :

In [4]:
r = int(input('enter row value : '))
def pattern13():
    for i in range(r):
        for j in range(r-i-1):
            print(' ',end=' ')
        for k in range(2*i+1):
            print(chr(42),end=' ')
        for k in range(2*(r-i)-1):
            print(chr(42),end=' ')
        print( )
pattern13()

enter row value : 5
        * * * * * * * * * *
      * * * * * * * * * *
    * * * * * * * * * *
  * * * * * * * * * *
* * * * * * * * * *

#### rhombus shape pattern using alphabets :

In [5]:
r = int(input('enter row value : '))
def pattern14():
    for i in range(r):
        for j in range(r-i-1):
            print(' ',end=' ')
        for k in range(2*i+1):
            print(chr(65+k),end=' ')
        for k in range(2*(r-i)-1):
            print(chr(65+k),end=' ')
        print( )
pattern14()

enter row value : 5
        A A B C D E F G H I
      A B C A B C D E F G
    A B C D E A B C D E
  A B C D E F G A B C
A B C D E F G H I A

#### rhombus shape pattern using numbers :

In [6]:
r = int(input('enter row value : '))
def pattern15():
    for i in range(r):
        for j in range(r-i-1):
            print(' ',end=' ')
        for k in range(2*i+1):
            print(int(1+k),end=' ')
        for k in range(2*(r-i)-1):
            print(int(1+k),end=' ')
        print( )
pattern15()

enter row value : 5
        1 1 2 3 4 5 6 7 8 9
      1 2 3 1 2 3 4 5 6 7
    1 2 3 4 5 1 2 3 4 5
  1 2 3 4 5 6 7 1 2 3
1 2 3 4 5 6 7 8 9 1